body{
  background-color:rgb(235, 179, 122);
}
h1{
  color: #cf5131;
}
input{
  width: 100%;
}
.container{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container{
  width:70%;
  padding:50px;
  border-radius: 5px;
  background:rgb(235, 179, 122);
  
}
pre{
  width: 70%;
  color: #fff;
  font-size: larger;
  align-items: center;
  text-align: center;
}
button{
  background: #49dfda !important;
}
p{
  color:rgb(165, 5, 5);
}